<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SchemaSer</servlet-name>
        <servlet-class>controlador.SchemaSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablesSer</servlet-name>
        <servlet-class>controlador.TablesSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColumnsSer</servlet-name>
        <servlet-class>controlador.ColumnsSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSer</servlet-name>
        <servlet-class>controlador.ConsultaSer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchemaSer</servlet-name>
        <url-pattern>/SchemaSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablesSer</servlet-name>
        <url-pattern>/TablesSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColumnsSer</servlet-name>
        <url-pattern>/ColumnsSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSer</servlet-name>
        <url-pattern>/ConsultaSer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
